@use "/src/app/variables.scss" as *;
@use "/src/app/mediaqueries.scss" as media;

.trending-now {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  overflow: hidden;

  @include media.for-greater-than-medium {
    margin: 10.4vh 0rem;
  }

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 3rem;

    @include media.for-greater-than-medium {
      width: 90%;
      gap: 5rem;
    }

    .text {
      width: 90%;
    }

    .content {
      width: 100%;
    }
  }
}
