@use "/src/app/variables.scss" as *;
@use "/src/app/mediaqueries.scss" as media;

.topDestination {
  padding: 5.6vw 7.1vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
    flex-direction: column;
    gap: 4vw;
    width: 100%;

    .content {
      width: 100%;

      .cards {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2vw;

        @include media.for-greater-than-medium() {
          grid-template-columns: repeat(2, 1fr);
        }

        @include media.for-greater-than-large() {
          grid-template-columns: repeat(3, 1fr);
        }

        .card {
          display: flex;
          justify-content: space-between;
          position: relative;
          border-radius: 1.2vw;
          border: 1px solid rgba(0, 0, 0, 0.35);
          overflow: hidden;
          padding: 0.5vw;

          .image-container {
            width: 14vh;
            // height: 17.1vh;
            position: relative;
            border-radius: 1.2vw 0px 0px 1.2vw;
            overflow: hidden;

            @include media.for-greater-than-medium {
              width: 10vw;
            }

            .image {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .detail {
            padding: 1vw;
            flex: 1;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 2vw;

            .fav {
              position: absolute;
              top: 2vh;
              right: 2vh;
            }

            .btn {
              button {
                display: flex;
                align-items: center;
                gap: 1vw;
                font-size: 1.6vh;
                border: none;
                background: none;
              }
            }

            &-titles {
              display: flex;
              flex-direction: column;
              gap: 0.5vw;

              h6 {
                font-size: 2vh;

                @include media.for-greater-than-medium {
                  font-size: 1.6vw;
                }
              }

              p {
                color: #757474;

                font-size: 1.6vh;

                @include media.for-greater-than-medium {
                  font-size: 1vw;
                }
              }
            }
          }
        }
      }
    }
  }
}
