@use "/src/app/variables.scss" as *;
@use "/src/app/mediaqueries.scss" as media;

.search-box {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.35);
  background: rgba(167, 167, 167, 0.35);
  padding: 1.4rem 1.1rem;
  border-radius: 0.6rem;
  margin-top: 4rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: map-get($colors, text);

  // @include media.for-greater-than-medium {
  //   padding: 3.4rem 2.4rem;
  // }

  .tabs {
    position: absolute;
    top: -1.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 0.5rem;

    @include media.for-greater-than-medium {
      top: -2rem;
    }

    li {
      flex: 1;
      text-align: center;
      cursor: pointer;
      background: map-get($colors, secondary);
      border-radius: 0.5rem 0.5rem 0rem 0rem;

      color: #fff;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;

      padding: 0.89rem 1.344rem;

      @include media.for-greater-than-medium {
        // font-size: 2.843rem;
        // padding: 2rem 3rem;
      }
    }

    .active {
      background: map-get($colors, primary);
    }
  }

  &-container {
    width: 100%;
    padding: 2.7rem 2rem;
    background-color: map-get($colors, primary);
    border-radius: 0.5rem;

    ul {
      color: black;
      width: 100%;

      @include media.for-greater-than-medium {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5rem;
      }

      .items {
        flex: 1 1 auto;

        input {
          width: 100%;
          padding: 1rem;
          font-size: 1.6rem;
          border: 1px solid gray;
        }

        button {
          width: 100%;
          padding: 1rem;
          font-size: 1.6rem;
          background-color: map-get($colors, secondary);
          color: white;
          border: none;
        }
      }
    }
  }
}
