@use "/src/app/variables.scss" as *;
@use "/src/app/mediaqueries.scss" as media;

.search-box {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.35);
  background: rgba(167, 167, 167, 0.35);
  padding: 2rem;
  border-radius: 0.6rem;
  margin-top: 4rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: map-get($colors, text);

  .tabs {
    position: absolute;
    top: -1.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 0.5rem;

    @include media.for-greater-than-medium{
      top: -2rem;
    }

    li {
      font-size: 1.6rem;
      flex: 1;
      padding: 1rem;
      text-align: center;
      cursor: pointer;
      background: map-get($colors, secondary);
      border-radius: 0.5rem 0.5rem 0rem 0rem;
      font-weight: bold;
    }

    .active {
      background: map-get($colors, primary);
    }
  }

  &-container {
    width: 100%;
    padding: 2rem;
    background-color: map-get($colors, primary);
    border-radius: 0.5rem;

    ul {
      color: black;
      width: 100%;

      @include media.for-greater-than-medium {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5rem;
      }

      .items {
        flex: 1 1 auto;

        input {
          width: 100%;
          padding: 1rem;
          font-size: 1.6rem;
          border: 1px solid gray;
        }

        button {
          width: 100%;
          padding: 1rem;
          font-size: 1.6rem;
          background-color: map-get($colors, secondary);
          color: white;
          border: none;
        }
      }
    }
  }
}
