@use "/src/app/variables.scss" as *;
@use "/src/app/mediaqueries.scss" as media;

.list {
  .link {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .image-container {
      width: 7vh;
      height: 7vh;
      border-radius: 50%;
      position: relative;
      border: 0.2rem solid transparent;
      transition: border 0.2s ease-in-out;

      @include media.for-greater-than-medium {
        border: 0.4rem solid transparent;
      }

      .image {
        border-radius: 50%;
        width: 100%;
        height: 100%;
      }
    }
    .active {
      border: 0.2rem solid #ef8500;

      @include media.for-greater-than-medium {
        border: 0.4rem solid #ef8500;
      }
    }

    h6 {
      text-align: center;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;

      color: #363636;
      font-size: 1.3455rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
}
