@use "/src/app/variables.scss" as *;
@use "/src/app/mediaqueries.scss" as media;

.titles {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h2 {
    text-transform: uppercase;
    font-weight: bold;
    color: map-get($colors, secondary);
    text-align: center;
    font-size: 2.5vh;

    @include media.for-greater-than-medium {
      font-size: 2.5vw;
    }
  }

  h3 {
    font-weight: bold;
    text-align: center;
    font-size: 2.5vh;

    @include media.for-greater-than-medium{
      font-size: 5vw;
    }
  }

  p {
    text-align: center;
    color: #757474;

    font-size: 1.6vh;

    @include media.for-greater-than-medium{
      font-size: 1.6vw;
    }

  }
}
