@use "/src/app/variables.scss" as *;
@use "/src/app/mediaqueries.scss" as media;

.titles {
  display: flex;
  // align-items: ;
  justify-content: center;
  flex-direction: column;
  // border: 1px solid red;
  gap: 2rem;

  h2 {
    color: #eb6d27;
    font-size: 4rem;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0.1rem;
    text-align: left;
    text-transform: capitalize;

    @include media.for-greater-than-medium {
      font-size: 7rem;
      letter-spacing: 0.1895rem;
      text-align: center;
    }
  }

  h3 {
    color: #000;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 1;
    text-transform: capitalize;
    letter-spacing: 0.128rem;

    @include media.for-greater-than-medium {
      text-align: center;
      font-size: 5.052rem;
      letter-spacing: 0.4547rem;
    }
  }

  p {
    color: #757474;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.075rem;

    @include media.for-greater-than-medium {
      text-align: center;
      text-align: center;
      font-size: 2.133rem;
      letter-spacing: 0.1066rem;
    }
  }
}
