@use "/src/app/variables.scss" as *;
@use "/src/app/mediaqueries.scss" as media;

.cards {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  gap: 4rem;

  .card {
    flex: 0 0 100%;
    flex-basis: calc(50% - 2rem);
    scroll-snap-align: start;
    overflow: hidden;
    border-radius: 1rem;
    cursor: pointer;
    // min-width: 26.7rem;

    &:hover {
      .image-container {
        .image {
          transform: scale(1.1);
        }
      }
    }

    .image-container {
      height: 34.8rem;
      position: relative;

      .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        //   transform: scale(1.);
        transition: transform 0.2s ease-in-out;
      }
    }
  }

  .prevbtn{
    border: 1 px solid;
  }
}