.stories {
  background-color: #fdf2d6;
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .content {
    width: 100%;
    display: flex;
    overflow: scroll;

    .stories {
      width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid red;

      .image-container {
          position: relative;

        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        background-color: red;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        .image {
          width: 100%;
          height: 100%;
          object-fit: contain;

          display: flex;
          flex-direction: column;
          justify-content: center;

        }
      }
     
    }
    h3 {
        align-items: center;
        justify-content: center;
        padding: 1.5rem;
        
      }
  }
}
