@use "/src/app/variables.scss" as *;
@use "/src/app/mediaqueries.scss" as media;

.footer {
  padding: 2vw 4vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4vh;

    .top {
      display: flex;
      flex-wrap: wrap;
      gap: 4vw;

      .left {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include media.for-greater-than-medium{
          align-items: flex-start;
        }
        
        p {
          font-size: 1.2vh;
          text-align: center;

          @include media.for-greater-than-medium {
            font-size: 1.2vw;
            text-align: left;
          }
        }
      }

      .right {
        flex: 1.5;

        display: flex;
        justify-content: space-between;
        gap: 1vw;

        ul {
          display: flex;
          flex-direction: column;
          gap: 1vh;
          li {
            font-size: 1.2vh;

            @include media.for-greater-than-medium {
              font-size: 1.2vw;
            }
          }
          & > :nth-child(1) {
            font-size: 2vh;
            color: map-get($colors, secondary);
            margin-bottom: 2vh;

            @include media.for-greater-than-medium {
              font-size: 2vw;
            }
          }
        }
      }
    }

    .bottom {
      display: flex;
      align-items: center;
      justify-content: center;

      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5rem;
      }
    }

    .last {
      text-align: center;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 2rem;
    }
  }
}
