@use "/src/app/variables.scss" as *;
@use "/src/app/mediaqueries.scss" as media;

.single-blog {
  border: 1px solid red;

  position: relative;
  padding: 8rem 2rem;

  @include media.for-greater-than-medium {
    padding: 8rem 6rem;
  }

  @include media.for-greater-than-large {
    padding: 8rem;
  }

  .container {
    border: 1px solid red;
    display: flex;

    .content {
      border: 1px solid red;
      flex: 1;
    }

    .sidebar {
      border: 1px solid green;
      flex: 0.1;
    }
  }
}
